* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: black;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  background: rgb(151, 198, 240);
  border: 1px solid black;
  border-radius: 10px;
}
.Balance {
  text-align: center;
  margin: 5px auto;
  padding: 2px;
  width: 200px;
  background: white;
  border: none;
  border-radius: 10px;
}
.IncomeExpense {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
}
.IncomeExpense .income {
  border-right: 1px solid black;
}
.IncomeExpense .income,
.expense {
  flex: 1;
  text-align: center;
  background: white;
}
.IncomeExpense .money-plus,
.money-minus {
  font-weight: 700;
}
.IncomeExpense .money-plus {
  color: green;
}
.IncomeExpense .money-minus {
  color: red;
}
.TransactionList ul {
  padding: 0;
  list-style: none;
  background: rgb(151, 198, 240);
}
.Transaction li {
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 3px 10px;
  margin-bottom: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Transaction li.plus {
  border-right: 8px solid green;
}
.Transaction li.minus {
  border-right: 8px solid red;
}
.Transaction .delete-button {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  top: 50%;
  left: 0;
  opacity: 0.5;
  transition: all 100ms ease-in-out;
}
.Transaction .delete-button:hover {
  opacity: 1;
}
.AddTransaction form {
  font-weight: 700;
}
.AddTransaction input {
  width: 100%;
}
.AddTransaction .add-transaction-button {
  background: rgb(22, 43, 100);
  color: white;
  padding: 10px 15px;
  margin: 15px auto;
  width: 100%;
  border: 1px solid rgb(22, 43, 100);
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.AddTransaction .add-transaction-button:hover {
  background: white;
  color: rgb(22, 43, 100);
  border: 1px solid rgb(22, 43, 100);
}
